

<div style="margin-left: 20px;">
  <br />
  

  <br>
  <!-- Task is successfully completed  -- (1) -->
  <form #userForm1="ngForm">

    <input type="text" placeholder="Enter ID" name="user_id" id="UserData_ID" #UserData_ID="ngModel" [(ngModel)]="userData.user_id" />
    <br />
    <input type="text" placeholder="Enter Name" name="user_name" id="UserData_Name" #UserData_Name="ngModel" [(ngModel)]="userData.user_name" />
    <br />
    <input type="text" placeholder="Enter Contact" name="user_contact" id="UserData_Contact" #UserData_Contact="ngModel" [(ngModel)]="userData.user_contact" />
    <br />
   <button type="submit" (click)="submitUserData(userForm1)" *ngIf="submit">Submit</button>
   <button type="submit" (click)="updateUserData(userForm1)" *ngIf="update">Update</button>
  </form>
  <form #userForm2="ngForm">
    <table>
      <tr>
        <td>ID</td>
        <td>Name</td>
        <td>Contact</td>
        <td colspan="2">Action</td>
      </tr>
      <tr *ngFor="let i of userData.userDetailDto; let ind=index">
        <td>
          <input type="text" placeholder="enter Name" name="userID-{{ind}}" id="userID-{{ind}}" [(ngModel)]="i.userID" />
        </td>
        <td>
          <input type="text" placeholder="enter First Name" name="userName-{{ind}}" id="userName-{{ind}}" [(ngModel)]="i.userName" />
        </td>
        <td>
          <input type="text" placeholder="enter Last Name" name="userContact-{{ind}}" id="userContact-{{ind}}" [(ngModel)]="i.userContact" />
        </td>
        <td (click)="removeItem1(ind)" style="cursor: pointer;">X</td>
        <td (click)="updateItem1(ind)" style="cursor: pointer;">E</td>
      </tr>
    </table>
    <button type="submit" (click)="submitUserDataDetail()">Submit</button>
  </form>
  <br />
</div>
<br>
<hr />
<br />
<!-- Task is successfully completed  -->


<!-- Task is successfully completed -- (2) -->
<div style="width: 70%;
      background-color: lightgray;
      margin: 0 auto;">
  <h3 class="title">Master Form / Dynamic Form</h3>
  <form #masterForm="ngForm">
    <input type="text" placeholder="Enter Customer ID" name="cus_id" id="CustomerData_Cus_id" [(ngModel)] = "customerData.cus_id" class="nameField"/>
    <input type="text" placeholder="Enter Customer Name" name="cus_name" id="CustomerData_Cus_named" [(ngModel)] = "customerData.cus_name" class="nameField1"/>
    <input type="text" placeholder="Enter Customer Contact" name="cus_contact" id="CustomerData_Cus_contact" [(ngModel)] = "customerData.cus_contact" class="nameField1"/>
    <input type="date" placeholder="Enter Order Date " name="date" id="CustomerData_Date" [(ngModel)] = "customerData.date" class="nameField"/>
    <input type="text" placeholder="Enter Customer Address" name="cus_address" id="CustomerData_Cus_address" [(ngModel)] = "customerData.cus_address" class="nameField2"/>
  
    <table class="table" style="width: 86%; margin-left: 6%; margin-top: 3%;">
      <thead>
        <tr>
          <th scope="col">Check</th>
          <th scope="col">Sr No.</th>
          <th scope="col">Product ID</th>
          <th scope="col">Product Name</th>
          <th scope="col">Description</th>
          <th scope="col">Quantity</th>
          <th scope="col">Price</th>
          <!-- <th scope="col">Action</th> -->
        </tr>
      </thead>
        <!-- (click)="removeMasterItem(ind, $event.target)" [class.active]="ind == selectedRow.length"
        (click)="setClickedRow(ind)"  [class.active]="ind == selectedRow"
        -->
      <tbody>
        <tr *ngFor="let item of customerData.customerProductDetailDto | paginate: { itemsPerPage: 5, currentPage: p }; let ind=index">
          <td>
            <input type="checkbox" name="isChecked-{{ind}}" #checkdelet id="isChecked-{{ind}}" [(ngModel)]="item.isChecked"
                        
            />
            <!-- (click)="$event.stopPropagation()"                (click)="selection.toggle($event,ind)"
                        (change)="$event ? selection.toggle($event,ind) : null"
                        [checked]="selection.isSelected(ind)" -->
          </td>
          <td>
            <input type="text" name="product-{{ind}}" id="product-{{ind}}" [value]="ind+1" style="width: 70px; border: none; height: 30px;"/>
          </td>
          <td>
            <input type="text" name="product-{{ind}}" id="product-{{ind}}" [(ngModel)]="item.productId" style="width: 70px; border: none; height: 30px;"/>
          </td>
          <td>
            <input type="text" name="product-{{ind}}" id="product-{{ind}}" [(ngModel)]="item.product" style="border: none; height: 30px;"/>
          </td>
          <td>
            <input type="text" name="product-{{ind}}" id="product-{{ind}}" [(ngModel)]="item.description" style="width: 256px; border: none; height: 30px;"/>
          </td>
          <td>
            <input type="text" name="product-{{ind}}" id="product-{{ind}}" [(ngModel)]="item.quantity" style="width: 70px; border: none; height: 30px;"/>
          </td>
          <td>
            <input type="text" name="product-{{ind}}" id="product-{{ind}}" [(ngModel)]="item.u_price" style="width: 70px; border: none; height: 30px;"/>
          </td>
          <!-- <td>
            <button (click)="removeMasterItem(ind)" class="closeButton">X</button>
          </td> -->
        </tr>
      </tbody>
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
      <button (click)="newList()" type="button" class="addButton">Add Item</button>
      <button type="submit" *ngIf="this.customerData.customerProductDetailDto?.length" (click)="deleteItem()">Delete</button>
    </table>
    <button type="submit" class="submitButton" (click)="submitCustomerData()">Submit</button>
  </form>
<!-- Task is successfully completed 

</div>


<br />

<router-outlet></router-outlet>-->

<!-- Task is successfully completed -- (3) -->

